@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --base-collor: #fff;
  --sec-color: #000;
}

.nav__menu-item-button {
  color: var(--base-collor);
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  background-color: transparent;
}

.sing__up {
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 12px 18px;
}

.nav__title {
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.title {
  display: block;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.title__item {
  display: block;
  font-family: var(--secondary-font);
  color: rgb(255, 255, 255);
  line-height: 1.2;
  font-weight: 300;
}

.link {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 25px;
  border-style: solid;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
}

.title__link {
  background-color: #ff4e50;
  border-style: none;
  line-height: 1.45;
  padding: 11px 51px;
}

.partner__title {
  color: #333333;
  font-size: 2.2rem;
  font-weight: 700;
}

.partner__name {
  color: #333333;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.partner__slogan {
  color: #666666;
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  font-weight: 300;
}

.partner__img {
  border-radius: 50%;
  border: solid #fff;
}

.wrapper__partner-pict::after {
  display: block;
  content: "";
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50% -50%);
}

.wrapper__partner-pict {
  position: relative;
  width: 121px;
  height: 121px;
}

.partner {
  text-align: center;
}

.partner__link {
  border-width: 2px;
  color: #ff4e50;
  border-color: #ff4e50;
  line-height: 1.18;
}

.wrapper__partner-Bradley::after {
  background-image: url(../img/icon/icon1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff4e50;
}

.wrapper__partner-Heather::after {
  background-image: url(../img/icon/icon2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1cd7ad;
}

.wrapper__partner-Lucas::after {
  background-image: url(../img/icon/icon3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffa507;
}

.wrapper__partner-Hunter::after {
  background-image: url(../img/icon/icon4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4e73db;
}

@media (min-width: 320px) {
  .container__nav {
    background-color: rgb(26, 25, 21);
    flex-flow: column;
    height: auto;
    background-image: url(../img/background/bg_mob.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navigaton {
    margin: 0 auto;
    margin-bottom: 38px;
  }

  .title__section {
    text-align: center;
  }

  .title {
    letter-spacing: -2.1px;
    margin-bottom: 18px;
  }

  .container__partner {
    padding-top: 70px;
  }

  .partner__title {
    text-align: center;
  }

  .wrapper__partner-pict {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .link__wrapper {
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container__nav {
    padding-bottom: 138px;
    padding-top: 20px;
  }

  .nav__title-wrapper {
    text-align: center;
  }

  .partner__list-item {
    text-align: center;
    margin-bottom: 28px;
  }

  .text__wrapper {
    max-width: 246px;
    text-align: center;
    margin: 0 auto;
  }

  .title__link {
    padding: 11px 47px;
  }

  .partner__link {
    padding: 11px 70px;
  }

  .nav__menu {
    margin-bottom: 114px;
  }

  .title {
    font-size: 3rem;
  }

  .title__section {
    max-width: 320px;
    margin: 0 auto;
  }

  .title__item {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .container__partner {
    padding-bottom: 58px;
  }

  .partner__title {
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .container__nav {
    background-image: url(../img/background/bg-tab.png);
    padding-bottom: 234px;
    padding-top: 38px;
  }

  .navigaton {
    margin-bottom: 152px;
  }

  .title__link {
    padding: 11px 20px;
  }

  .partner__link {
    padding: 11px 26px;
  }

  .partner__title {
    margin-bottom: 32px;
  }

  .text__wrapper {
    text-align: center;
  }

  .title__item {
    font-size: 2.4rem;
    margin-bottom: 36px;
  }

  .title {
    font-size: 5.2rem;
    margin-bottom: 40px;
  }

  .title__section {
    max-width: 504px;
    margin: 0 auto;
  }

  .partner__list {
    margin: 0 auto;
    /* margin-bottom: 40px; */
    display: flex;
  }

  .partner__list-item {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .partner__list {
    max-width: 480px;
    margin: 0 auto;
  }

  .navigaton {
    max-width: 672px;
  }

  .partner__list-item:nth-child(-n + 2) {
    margin-bottom: 58px;
  }

  .container__partner {
    padding-bottom: 40px;
  }
}

@media (min-width: 940px) {
  .container__nav {
    background-image: url(../img/background/bg-desc.png);
  }

  .navigaton {
    max-width: 940px;
  }

  .partner__list {
    max-width: 940px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .container__partner {
    padding-bottom: 74px;
  }

  .title__link:hover {
    color: #ff4e50;
    background-color: #fff;
  }

  .partner__link:hover {
    color: #fff;
    background-color: #ff4e50;
    border: 2.4px solid #ff4e50;
  }

  .nav__menu-item-button {
    cursor: pointer;
  }

  .sing__up:hover {
    color: #28ec0e;
    border: 2px solid #28ec0e;
    border-radius: 25px;
    padding: 12px 18px;
  }

  .login:hover {
    color: #28ec0e;
  }

  .nav__title-wrapper {
    position: relative;
  }

  .nav__title:hover {
    color: #28ec0e;
  }
}
